*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.row{
    width: 100vw;
    justify-content: space-around;
}

.card{
    height: auto;
    background: #e3f2fd;
}

.list-group-item{
    background: #e3f2fd;
}

a{
    text-decoration: none;
    color: #2274A5;
}
